<h1>About Pizza Junkie</h1>

<p>I have a passion for pizza some people might even call me a junkie cause I crave the good stuff.  Give me dough give sauce and give me CHEEESSEE!</p>

<h2>Why did you start Pizza junkie?</h2>
<p>Because I love freaking pizza</p>

<h2>What's the point of this site?</h2>
<p>This place is gonna the be frozen pizza emporirum...do you know how hard it is to find JACKS rising crust pizza??</p>

<h2>Where do you deliver?</h2>
<p>If there is a pizza junkie in need I'll make sure you you'll get your fix</p>