
<div style="background-color: black">

<h1>Welcome to Pizza Junkie</h1>

<h2>The largest selection of frozen pizza on the internet!</h2>

</div>
<%= image_tag("Supreme_pizza.jpg", class: "img-responsive my-image") %>
