// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

	background-color: white;
}

h1 {

	color: red;

}

h2 {
	color: orange;

}

p {

	color: blue;
}

footer {
	color: red;
	background-color: #101010;
}

#my_footer{
	
	height: 25px;
}
